# Telegram Bot Configuration
BOT_TOKEN=your_telegram_bot_token

# Database (NeonDB / PostgreSQL)
DATABASE_URL=your_neondb_url

# Environment Mode
ENVIRONMENT=development

# Timezone Setting
TIMEZONE=your_preferred_timezone

# Month when the Advent Calendar is active
MONTH=12

# Day when the calendar ends
LAST_DAY=last_day